/* pulled from https://github.com/AnomalyInnovations/serverless-stack-demo-user-mgmt-client under MIT license */
.LoaderButton .spinning.glyphicon {
    margin-right: 7px;
    top: 2px;
    animation: spin 1s infinite linear;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

.LoaderButton:disabled {
    color: grey !important;
}

.LoaderButton:enabled {
    background-color: grey !important;
}