/*
Note: This app is not heavily dependent to the css that's only maintain a single css file.
*/
.PageContainer {
    /*min-height:100%;*/
}

.PageContents {
    margin-top: 120px;
    margin-left: 15px;
    margin-right: 30px;
    min-height: 48vh;
    padding-bottom: 20px;
}

.shortFooter {
    min-height: 74vh;
}

.nav-link {
    color: rgb(52, 71, 103);
}

.nav-link:focus, .nav-link:hover {
    color: rgb(52, 71, 103);
}

.footer {
    width: 100%;
    text-align: center;
    background-color: #FFFFFF;
    padding-left: 100px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.footer .footer-menu {
    height: 41px;
}

.footer nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.footer nav > ul a:not(.btn) {
    color: #9A9A9A;
    display: block;
    margin-bottom: 3px;
}

.footer nav > ul a:not(.btn):hover, .footer nav > ul a:not(.btn):focus {
    color: #777777;
}

.footer .copyright {
    color: #777777;
    padding: 10px 15px;
    margin: 10px 3px;
    line-height: 20px;
    font-size: 14px;
}

.footer hr {
    border-color: #DDDDDD;
}

.footer .title {
    color: #777777;
}

.footer-default {
    background-color: #F5F5F5;
}

.footer:not(.footer-big) nav > ul {
    font-size: 14px;
}

.footer:not(.footer-big) nav > ul li {
    margin-left: 20px;
    float: left;
}

.footer:not(.footer-big) nav > ul a {
    padding: 10px 0px;
    margin: 10px 10px 10px 0px;
}

.footerBodyText{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-align: center;
}

.footerLinks{
}



.card-user .card-image {
	height: 110px; }
  
  .card-user .card-image-plain {
	height: 0;
	margin-top: 110px; }
  
  .card-user .author {
	text-align: center;
	text-transform: none;
	margin-top: -70px; }
  
  .card-user .avatar {
	width: 124px;
	height: 124px;
	border: 5px solid #FFFFFF;
	position: relative;
	margin-bottom: 15px; }
	.card-user .avatar.border-gray {
	  border-color: #EEEEEE; }
  
  .card-user .title {
	line-height: 24px; }
  
  .card-user .card-body {
	min-height: 240px; }
  
  .card-user .card-footer{
	padding: 5px 15px 10px; }
  
  .card-user hr{
	margin: 5px 15px; }